
a,
button,
.btn {
  text-decoration: none !important;
  display: grid;
  place-content: center;
  justify-content: center;
}


button {
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-border-radius: 50%;

  display: grid;
  place-items: center;

  // width: 2.5rem;
  // height: 2.5rem;

  background: transparent;

  box-shadow: 0px 0px 0px 0px transparent;
  transition: box-shadow 200ms var(--bezier-snap);

  border-radius: 50%;
  border: none;
  padding: 0.5rem;

  /*  States  */
  &:hover {
    box-shadow: 0px 0px 5px 1px var(--bg-shade);
  }
  &:active {
    box-shadow: inset 0px 0px 5px 1px var(--bg-shade);
  }

  /*  Colors  */
  &.primary {
    background: var(--color-primary);
  }

  &.accent {
    background: var(--color-accent);
  }

  &.warn {
    background: var(--color-warn);
  }

  &.disabled {
    background: var(--color-disabled);
  }

  &.light {
    background: var(--bg-light);
  }

  &.dark {
    background: var(--bg-dark);
  }

  /*  Styles/Types  */
  &.mat-fab {
    span {
      font-size: 2rem;
    }
  }

  &.mat-raised {
    border-radius: 4px;
    width: initial;
  }

  &.mat-stroked {
    border-radius: 4px;
    background: transparent;
    border: 2px solid var(--text-dark);

    * {
      color: inherit !important;
    }

    &.primary {
      color: var(--color-primary);
      border-color: color-mix(in srgb, var(--color-primary) 40%, transparent);
    }

    &.accent {
      color: var(--color-accent);
      border-color: color-mix(in srgb, var(--color-accent) 40%, transparent);
    }

    &.warn {
      color: var(--color-warn);
      border-color: color-mix(in srgb, var(--color-warn) 40%, transparent);
    }

    &.disabled {
      color: var(--color-disabled);
      border-color: color-mix(in srgb, var(--color-disabled) 40%, transparent);
    }

    &.light {
      color: var(--text-light);
      border-color: color-mix(in srgb, var(--bg-light) 40%, transparent);
    }

    &.dark {
      color: var(--text-dark);
      border-color: color-mix(in srgb, var(--bg-dark) 40%, transparent);
    }
  }

  &.mat-flat {
    border-radius: 4px;
    background: transparent;
    border: none;

    * {
      color: inherit !important;
    }

    &.primary {
      color: var(--color-primary);
    }

    &.accent {
      color: var(--color-accent);
    }

    &.warn {
      color: var(--color-warn);
    }

    &.disabled {
      color: var(--color-disabled);
    }

    &.light {
      color: var(--text-light);
    }

    &.dark {
      color: var(--text-dark);
    }
  }
}